@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body,
* {
     font-family: "Poppins", sans-serif !important;
}

aside {
    z-index: 999 !important;
}



.form-label{
  display: block;
  margin-bottom: 8px;
}


.v-text-field {
  --v-input-control-height: 38px !important;
  min-height: 38px !important;
  height: 38px !important;
}


.v-btn{
  height: 36px;
  padding: 0px 16px;
}
.v-btn .v-btn__content{
    font-weight: 400;
}
.no-overlay .v-btn__overlay{
    display: none;
}


.v-theme--adminLight .v-field--variant-outlined .v-field__outline {
  --v-field-border-width: 1px !important;
  --v-field-border-opacity: 0.38 !important;
  color: rgba(0, 0, 0, 0.38) !important;
  border-radius: 0 !important;
}


.striped-table tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}

.v-data-table__thead{
  background: #0080ff;
  color: white;
}






/* Typography */

.v-application .text-48 { font-size: 48px; }
.v-application .text-46 { font-size: 46px; }
.v-application .text-44 { font-size: 44px; }
.v-application .text-42 { font-size: 42px; }
.v-application .text-40 { font-size: 40px; }
.v-application .text-38 { font-size: 38px; }
.v-application .text-36 { font-size: 36px; }
.v-application .text-34 { font-size: 34px; }
.v-application .text-32 { font-size: 32px; }
.v-application .text-30 { font-size: 30px; }
.v-application .text-28 { font-size: 28px; }
.v-application .text-26 { font-size: 26px; }
.v-application .text-24 { font-size: 24px; }
.v-application .text-22 { font-size: 22px; }
.v-application .text-20 { font-size: 20px; }
.v-application .text-18 { font-size: 18px; }
.v-application .text-16 { font-size: 16px; }
.v-application .text-14 { font-size: 14px; }
.v-application .text-12 { font-size: 12px; }
.v-application .text-10 { font-size: 10px; }
















